@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,700");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  font-family: "Nunito", sans-serif;
}

.container {
  margin-left: 5%;
  width: 90%;
  text-align: center;

  color: #212121;
}

.container hr {
  max-width: 35%;
  opacity: 0.3;
}

.demo {
  padding: 15%;
}

.codebox {
  background: #fff !important;
  border: 1px solid #6200ee;
  border-radius: 20px;
}

@media only screen and (min-width: 767px) {
  .codebox {
    max-width: 50%;
    margin-left: 25% !important;
  }
}

.codebox.oneline {
  padding: 15px !important;
  border-radius: 18px !important;
}

.logo {
  padding: 50px;
  padding-top: 25px !important;
  opacity: 0.3;
  text-align: center;
  font-weight: 100;
}

.logo p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
}

.logo h1 {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
}

button {
  min-width: 64px;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  outline: 0;

  cursor: pointer;

  color: #fff;

  background: #6200ee;
  border: 0;
  border-radius: 4px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

button:hover {
  background: #6e14ef;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 0 transparent !important;
}

button.active {
  transform: scale(1.1);
  background: #873df2;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.footer {
  margin-top: 50px;
  width: 100vw;
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: rgb(87, 87, 87);
  background: #f1efef;
}
